:root{
    --color-primary: #4c5b7d;
    --color-secondary: #220b4e;
    --color-accent: #9966ff;
    --color-accent-second: #dbc8ff;
    --color-white: #f5f5f5;
    --color-black: #111111;
    --color-red: #ff1a40;
    --color-green: #6bb300;
}